* {
  margin: 0;
  padding: 0;
}

.dondeyhorario, .lafamilia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Pacifico";
  src: url("../assets/Pacifico/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Cormo";
  src: url("../assets/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf");
}
body {
  background-color: #5C584D;
}

header h1 {
  font-family: "Pacifico";
  color: #4B9ADB;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
header .menu {
  background-color: #DBB44B;
}
header .menunavegacion {
  background-color: #DBB44B;
  list-style-type: none;
  margin: auto;
}
header .menunavegacion li {
  display: inline;
  padding-right: 100px;
}
header .menunavegacion li a {
  font-family: "Cormo";
  font-size: 30px;
  color: #5C584D;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: color 2s, font-size 4s;
}
header .menunavegacion li a:hover {
  color: #4B9ADB;
  font-size: 35px;
}

h2 {
  font-family: "Cormo";
  color: #4B9ADB;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

p {
  color: #DBB44B;
  font-family: "Cormo";
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.textofooter {
  background-color: #DBB44B;
  color: #5C584D;
  font-family: "Cormo";
  margin-bottom: 1px;
}

.img {
  width: 100%;
  height: 100%;
}

.redessociales {
  background-color: #DBB44B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.botonredes {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.imagenindex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.lafamilia {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.lafamilia .divtextofamilia {
  width: 100%;
  height: 100%;
}
.lafamilia img {
  width: 100%;
  border-radius: 15px;
}

.cardsproductos {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardsproductos .cardsprimeralinea {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardsproductos .cardssegundalinea {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardsproductos .card {
  margin-right: 20px;
  border-color: #DBB44B;
}
.cardsproductos .card .card-img-top {
  height: 130px;
}
.cardsproductos .card .fondocards {
  background-color: #5C584D;
}
.cardsproductos .card .fondocards .titulocards {
  color: #5C584D;
  font-weight: bold;
}
.cardsproductos .card .fondocards .textocards {
  font-family: "Cormo";
  background-color: #5C584D;
  font-size: 20px;
  color: #DBB44B;
}

.dondeyhorario {
  margin: 40px 20px 20px 20px;
}
.dondeyhorario .mapa {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dondeyhorario .textohorario {
  margin: 50px 50px 50px 50px;
}

.formulariocontacto {
  font-family: "Cormo";
  font-size: 30px;
  color: #DBB44B;
  width: 50%;
}
.formulariocontacto .botonenviar {
  background-color: #DBB44B;
  font-size: 20px;
  border: none;
}
.formulariocontacto .botonenviar:hover {
  background-color: #DBB44B;
}

.formulario {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .lafamilia {
    flex-direction: column;
  }
  .textofamilia {
    font-size: 15px;
  }
  .divtextofamilia {
    display: flex;
    width: 100%;
    justify-self: center;
  }
  .dondeyhorario {
    flex-direction: column;
  }
  .cardsproductos {
    justify-content: center;
    flex-direction: column;
  }
  .cardsproductos .card {
    margin-top: 20px;
  }
  .cardsproductos .cardsprimeralinea {
    flex-direction: column;
    margin-top: 20px;
  }
  .cardsproductos .cardssegundalinea {
    flex-direction: column;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
