@media (max-width:320px) {
    .lafamilia{
        flex-direction: column;
    }
}
@media(max-width:320px){
    .textofamilia{
        font-size: 15px;
        
    }
}
@media(max-width:320px){
    .divtextofamilia{
        width: 320px;
    }
}
@media(max-width:320px){
    .dondeyhorario{
        flex-direction: column
        }
}