.dondeyhorario{
    @extend%flexrowbetween;
    margin: 40px 20px 20px 20px;
    .mapa {
        height: 320px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .textohorario{
        margin: 50px 50px 50px 50px;
    }
}